body {
	
}
#date_time {
	width:640px;
	height:960px;
	font-family: 'Press Start 2P', cursive;
	background: url("../img/background.png") no-repeat scroll 0 0 transparent;
	text-align: center;
}
#dateWrap, #timeWrap {display:block;}

#dateDay {}
#dateMonth {
	float:left;
	width: auto;
}
#dateDate {}
#dateYear {}
#dateHour, #dateMinute, #dateSecond {
	float:left;
}
#dateDay {font-size:2em;}
#dateMonth {font-size:2em;}
#dateDate {font-size:2em;}
#dateYear {font-size:2em;}
#dateHour, #dateMinute {font-size:7em;}
#dateSecond {font-size:3.5em; margin:25px 0 0 0;}
